@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/AccountMVC/changepass" method="post">
    <input name="email" value="" />
    <input name="oldpassword" value="" />
    <input name="newpassword" value="" />
    <input type="submit" value="Change" class="btn btn-primary" />
</form>