@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/AccountMVC/registrasi" method="post">
    <input name="fullname" value="" />
    <input name="email" value="" />
    <input name="password" value="" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>
